<div class="wrapper">
  <%= render 'layouts/sidenavbar' %>
  <div class="main_content">
      <div class="header">
        <%= render 'layouts/navbar' %>
      </div>  
      <div class="info">
        <div class="well">
          <% if current_user.instructor? %>
            <%= link_to 'New Assignment', new_assignment_path, class: "btn btn-info" %>
          <% end %>
          <table class="table">
          	<h3>Assignments</h3>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Course</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @assignments.each do |assignment| %>
              <tr>
                <td><%= assignment.id %></td>
                <td><%= assignment.title %></td>
                <td><%= assignment.description %></td>
                <td><%= assignment.course.title %></td>
                <td>
                  <%= link_to 'View', assignment_path(assignment), class: "btn btn-info" %>
                  <% if current_user.instructor? %>
                    <%= link_to 'Edit', edit_assignment_path(assignment), class: "btn btn-info" %>
                    <%= link_to 'Delete', assignment_path(assignment), method: :delete, class: "btn btn-info" %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= link_to "Back", :back %>
      </div>
  </div>
</div>