<div class="wrapper">
  <%= render 'layouts/sidenavbar' %>
  <div class="main_content">
      <div class="header">
        <%= render 'layouts/navbar' %>
      </div>  
      <div class="info">
        <div class="well">
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td><%= link_to 'View', user_path(user), class: "btn btn-info" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
