<div class="sidebar">
  <h2>Digital Learning</h2>
  <ul>
    <li><%= link_to 'Dashboard', root_path, class: "nav_item" %></li>
    <% if current_user.instructor? %>
      <li><%= link_to 'Terms', terms_path, class: "nav_item" %></li>
    <% end %>
    <li><%= link_to 'Courses', courses_path, class: "nav_item" %></li>
    <li><%= link_to 'Assignments', assignments_path, class: "nav_item" %></li>
    <% if current_user.admin? %>
      <li><%= link_to 'Announcements', announcements_path, class: "nav_item" %></li>
      <li><%= link_to 'User', users_path, class: "nav_item" %></li>
    <% end %>
  </ul>
</div>
